p {
    font-family: sans-serif;
}

h4,
h3,
h2,
h1 {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.left-container {
    width: 40%;
    display: flex;
    row-gap: 50px;
    flex-direction: column;
}

.left-container-summary {
    width: 40%;
    display: flex;
    row-gap: 25px;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
}

.left-form {
    background-color: white;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    display: flex;
    row-gap: 15px;
    flex-direction: column;

}

.order-input {
    border-radius: 10px;
    height: 45px;
    padding-left: 25px;
    font-size: small;
    border-color: lightgray;
    border-top-width: 1px;
    border-left-width: 1px;
}

.right-container {
    width: 60%;
    padding: 3%;
    border-radius: 15px;
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    background-color: white;
}

.order-cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    height: 100px;
    padding-top: 25px;
    padding-right: 20px;
}

.order-cart-description {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.order-product-image {
    height: 75px;
    width: 13%;
    border-radius: 7px;
}

.bottom-items {
    height: 40px;
    display: flex;
    border-top: 1px solid lightgrey;
    margin-inline: 5%;
    padding-top: 15px;
    column-gap: 15px;
}

.thumb-up-container {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    background-color: rgb(92, 186, 92);
    display: grid;
    place-items: center;
}